.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #a72727;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.details {
  text-align: center;
}


.details {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: #3a2e22;
  text-decoration: none;
  border: 1px solid #750505;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  text-transform: capitalize;
  background: #FFFAFB;
}

.card img {
  float: right;
  display: block;
  height: 4em;
  width: 4em;
  transform: rotate(30deg);
}

.card:hover,
.card:focus,
.card:active {
  color: #a72727;
  border-color: #a72727;
}

.card h3 {
  margin: 0 0 1rem 0;
  float: left;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.name {
    font-size: 1.5em;
    text-transform: capitalize;
    display: block;
}

.size {
    padding: .1em;
}

.homelink {
    margin-top: 2em;
}

.details {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: #3a2e22;
    text-decoration: none;
    border: 1px solid #750505;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    text-transform: capitalize;
    background: #FFFAFB;
    min-width: 20%;
    max-width: 33%;
}

.details p {
    text-align: center;
}

.details img {
    margin: 1em auto;
    display: block;
    height: 10em;
    width: 10em;
}

.description {
    font-style: italic;
    font-size: .9em;
}

.size, .stock {
    font-size: .7em;
}
